.container {
    color: rebeccapurple;
    max-width: 45vw;
    margin: 45px auto;
}


.container h1 {
    text-align: center;
}

.container h2 {
    padding-top: 1rem;
}

.container p {
    padding-top: 1rem;
}