.container {
    padding: 0 2rem;
    min-height: 100vh;
    margin: auto;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
}

.blogs {
    padding-bottom: 3rem;
}

.blogItem {
    max-width: 45vh;
}



h3.secondaryHeading {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 20px;
    font-size: 1.6rem;
}

.btn {
    border-radius: 6px;
    padding: 9px 10px;
    margin: 10px 0px;
    color: #0d6efd;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 12px;
    border: 1px solid #0d6efd;
  }
  
  .btn:hover {
    background-color: #0d6efd;
    color: white;
    transition: all ease-in-out .5s;
  
  }