.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.footer span {
  font-weight: bold;
  margin: 0rem 5px;
}

.footer i {
  margin: 0rem 5px;
}


.footer .copy {
  min-width: 100vw;
  text-align: center;
  padding: 1rem;
}


.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
